
@{
    ViewData["Title"] = "Thông tin booking";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
    var formData = ViewBag.formData as IDictionary<string, object>;
    var listbookserbybookingid_store = ViewBag.listbookserbybookingid_store as List<dynamic>;

    // tao bien dem de dem row num cho report
    var reportRowIndex = 1;
}


@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}

@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
    @* thong bao day *@
    <script src="~/js/ui-toasts.js"></script>
    @* validate, kem cac file js ho tro *@
    <script src="~/js/helper.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/form-validation.js"></script>


    <script>
        // xu ly hien thi file sau khi chon file
        $(document).ready(function () {
        $('#BookingFile').on('change', function (event) {
        let fileList = $('#fileList');
        fileList.empty(); // Xóa danh sách cũ
        $.each(event.target.files, function (index, file) {
        fileList.append('<li>' + file.name + '</li>');
        });
        });
        });


        // them dong editor moi
        function addNewRow() {
        let table = document.getElementById("ReportEditor").getElementsByTagName('tbody')[0];
        let newRow = table.insertRow();
        let index = table.rows.length;


        // Tạo danh sách option từ serviceList
        var serviceList = @Html.Raw(Json.Serialize(ViewBag.ServiceId));

        let serviceOptions = '<option value="">Chọn dịch vụ</option>';
        serviceList.forEach(service => {
        serviceOptions += `<option value="${service.value}">${service.text}</option>`;
        });

        newRow.innerHTML = `
        <td class="text-center"><input class="form-control" type="text" name="grid[${index}].Id" readonly/></td>
        <td class="text-center"><input class="form-control" type="text" name="grid[${index}].STT" value="${index}" readonly/></td>
        <td class="text-center">
        <select name="grid[${index}].ServiceID" class="form-select" data-placeholder="Dịch vụ">
        ${serviceOptions}
        </select>
        </td>
        <td>
        <input type="number" class="form-control" placeholder="" name="grid[${index}].Quantity" aria-label="Số lượng" value="">
        </td>
        <td class="text-truncate">
        <input readonly type="number" class="form-control" placeholder="" name="grid[${index}].TotalPrice" aria-label="Tổng số tiền" value="">
        </td>
        <td class="text-truncate text-center"><textarea row="2" class="form-control" placeholder="" name="grid[${index}].Description" aria-label="Ghi chú"></textarea></td>
        <td class="text-truncate"><input type="datetime-local" class="form-control" placeholder="" name="grid[${index}].AdditionFromDate" aria-label="Thời gian phát sinh từ" value=""></td>
        <td class="text-truncate"><input type="datetime-local" class="form-control" placeholder="" name="grid[${index}].AdditionToDate" aria-label="Thời gian phát sinh đến" value=""></td>
        <td class="text-center">
            <input type="hidden" name="grid[${index}].isDeleted" value="false" class="isDeleted">
            <button type="button" class="btn-delete btn btn-sm text-danger" onclick="toggleDelete(this)">
                <i class="ri-delete-bin-line ri-24px"></i>
            </button>
        </td>
        `;

        // Áp dụng Select2 cho select mới thêm
        $(newRow).find("select").select2({
            placeholder: "Chọn",
            allowClear: true,
            width: "100%"
        });
        }
    </script>
}

@section success
{
    @if (ViewBag.success != null)
    {

        <!-- Toast with Placements -->
        <div class="bs-toast toast  top-0 end-0 show toast-placement-ex1 m-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
                <i class="ri-home-4-fill me-2 text-success"></i>
                <div class="me-auto fw-medium">Thông báo</div><small class="text-muted">1 giây trước</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-success">@ViewBag.success.</div>
        </div>
        <!-- Toast with Placements -->
    }
}

@section ErrorMessage
{
    @if (ViewBag.ErrorMessage != null)
    {
        <!-- Toast with Placements -->
        <div class="bs-toast toast  top-0 end-0 show toast-placement-ex1 m-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
                <i class="ri-home-4-fill me-2 text-danger"></i>
                <div class="me-auto fw-medium">Thông báo</div><small class="text-muted">1 giây trước</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-danger">@ViewBag.ErrorMessage.</div>
        </div>
        <!-- Toast with Placements -->
    }
}

@* ************** Content ************** *@
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Booking form -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-6">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">THÔNG TIN BOOKING</h5>
                        <small class="text-body float-end">Thông tin thuê homestay của khách hàng</small>
                    </div>
                    <div class="card-body">
                        <form id="create-form" class="needs-validation" novalidate="" method="post" asp-action="Create" enctype="multipart/form-data">
                            <!-- Thong tin chung -->
                            <div class="row gx-5 mb-5">
                                <div class="col-md-12 card-header"><strong class="mb-0 text-primary">THÔNG TIN CHUNG</strong></div>
                                <div class="col-md-4">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <select id="CustomerID" name="CustomerID" data-datafillstore="HS_GetCustomerInfo" class="form-select form-select-sm mb-6" data-placeholder="Khách hàng" asp-items="ViewBag.CustomerId">
                                            <option value="">Chọn khách hàng</option>
                                        </select>
                                        <label for="CustomerID">Khách hàng</label>
                                        <div class="valid-feedback"> Looks good! </div>
                                        <div class="invalid-feedback"> Không được bỏ trống. </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="text" class="form-control" id="LastName" placeholder="Họ tên" name="LastName" aria-label="Họ tên" value="@(formData.ContainsKey("LastName") ? formData["LastName"] : "")" required>
                                        <label for="LastName">Họ tên</label>
                                        <div class="valid-feedback"> Looks good! </div>
                                        <div class="invalid-feedback"> Không được bỏ trống. </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="text" class="form-control" id="PhoneNumber" placeholder="SDT" name="PhoneNumber" aria-label="SDT" value="@(formData.ContainsKey("PhoneNumber") ? formData["PhoneNumber"] : "")" required>
                                        <label for="PhoneNumber">SĐT</label>
                                        <div class="valid-feedback"> Looks good! </div>
                                        <div class="invalid-feedback"> Không được bỏ trống. </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-lg-inline-block"><p class="text-light fw-medium d-block">Giới tính: </p></div>
                                    @if (ViewData["Gender"] is SelectList genderList)
                                    {
                                        var selectedgender = formData.ContainsKey("Gender") ? formData["Gender"] : "";
                                        @foreach (var gender in genderList)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input"
                                                       name="Gender"
                                                       id="Gender_@gender.Value"
                                                       value="@gender.Value"
                                                @(selectedgender.ToString() == gender.Value ? "checked" : "") />
                                                <label class="form-check-label" for="Gender_@gender.Value">@gender.Text</label>
                                            </div>
                                        }
                                    }
                               @*      <div class="form-check form-check-inline mb-6">
                                        <input class="form-check-input"
                                        type="radio"
                                        name="Gender"
                                        id="Gender1"
                                        value="263" />
                                        <label class="form-check-label" for="inlineRadio1">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                        type="radio"
                                        name="Gender"
                                        id="Gender2"
                                        value="262" />
                                        <label class="form-check-label" for="inlineRadio2">Nữ</label>
                                    </div> *@
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="text" class="form-control" id="CCCD" placeholder="CCCD" name="CCCD" aria-label="CCCD" value="@(formData.ContainsKey("CCCD") ? formData["CCCD"] : "")">
                                        <label for="LastName">CCCD</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="text" class="form-control" id="MXH" placeholder="MXH" name="MXH" aria-label="MXH" value="@(formData.ContainsKey("MXH") ? formData["MXH"] : "")">
                                        <label for="MXH">MXH</label>
                                    </div>
                                </div>
                            </div>
                            <!-- end thong tin chung -->
                            <!-- Check in info -->
                            <div class="row gx-5 mb-5">
                                <div class="col-md-12 card-header"><strong class="mb-0 text-primary">CHECK IN</strong></div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <select id="RoomID" name="RoomID" class="form-select form-select-sm mb-6" data-placeholder="Phòng" asp-items="ViewBag.RoomId">
                                            <option value="">Chọn phòng</option>
                                        </select>
                                        <label for="RoomID">Phòng</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input class="form-control" type="datetime-local" id="CheckInDate" name="CheckInDate" value="@(formData.ContainsKey("CheckInDate") ? formData["CheckInDate"] : "")" />
                                        <label for="CheckInDate">Thời gian check in</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input class="form-control" type="datetime-local" id="CheckOutDate" name="CheckOutDate" value="@(formData.ContainsKey("CheckOutDate") ? formData["CheckOutDate"] : "")" />
                                        <label for="CheckOutDate">Thời gian check out</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="number" readonly class="form-control" id="TotalTime" placeholder="" name="TotalTime" aria-label="Số giờ" value="@(formData.ContainsKey("TotalTime") ? formData["TotalTime"] : "")">
                                        <label for="TotalTime">Số giờ</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input class="form-control" type="datetime-local" id="BookingDate" name="BookingDate" value="@(formData.ContainsKey("BookingDate") ? formData["BookingDate"] : "")" />
                                        <label for="BookingDate">Ngày book phòng</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input readonly type="number" class="form-control" id="TotalAmount" placeholder="" name="TotalAmount" value="@(formData.ContainsKey("TotalAmount") ? formData["TotalAmount"] : "")">
                                        <label for="TotalAmount">Tổng số tiền</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="number" class="form-control" id="Deposit" placeholder="" name="Deposit" value="@(formData.ContainsKey("Deposit") ? formData["Deposit"] : "")" min="18" max="100">
                                        <label for="Deposit">Cọc</label>
                                        <div class="valid-feedback"> Looks good! </div>
                                        <div class="invalid-feedback"> Cọc từ 18 đến 100. </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input type="number" class="form-control" id="SoTienConLaiPhaiTra" placeholder="" name="SoTienConLaiPhaiTra" value="@(formData.ContainsKey("SoTienConLaiPhaiTra") ? formData["SoTienConLaiPhaiTra"] : "")">
                                        <label for="SoTienConLaiPhaiTra">Còn lại</label>
                                    </div>
                                </div>
                            </div>
                            <!-- end check in info -->
                            <!-- Thong tin thanh toan -->
                            <div class="row gx-5 mb-5">
                                <div class="col-md-12 card-header"><strong class="mb-0 text-primary">THÔNG TIN THANH TOÁN</strong></div>
                                <div class="col-md-3">
                                    <div class="form-check mt-4">
                                        <input class="form-check-input" type="checkbox" id="IsPay" name="IsPay" value="true" @(formData.ContainsKey("IsPay") && formData["IsPay"].ToString().ToLower() == "true" ? "checked" : "") />
                                        <label class="form-check-label" for="IsPay"> Trạng thái thanh toán </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline mb-6">
                                        <input class="form-control" type="date" id="PaymentDate" name="PaymentDate" value="@(formData.ContainsKey("PaymentDate") ? formData["PaymentDate"] : "")" />
                                        <label for="PaymentDate">Ngày thanh toán</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline">
                                        <input type="text" class="form-control" id="PaymentMethod" placeholder="(Tiền mặt, Chuyển khoản, momo,...)" name="PaymentMethod" value="@(formData.ContainsKey("PaymentMethod") ? formData["PaymentMethod"] : "")">
                                        <label for="PaymentMethod">Hình thức thanh toán</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating form-floating-outline">
                                        <input type="text" class="form-control" id="PaymentInformation" placeholder="(Số tài khoản, số momo hoặc nội dung chuyển......)" name="PaymentInformation" value="@(formData.ContainsKey("PaymentInformation") ? formData["PaymentInformation"] : "")">
                                        <label for="PaymentInformation">Thông tin chuyển khoản</label>
                                    </div>
                                </div>
                            </div>
                            <!-- end thong tin thanh toan info -->
                            <!-- Thong tin chi tiet -->
                            <div class="row gx-5 mb-5">
                                <div class="col-md-12 card-header"><strong class="mb-0 text-primary">THÔNG TIN CHI TIẾT</strong></div>                        
                                <div class="col-md-12 card-body">
                                    <div class="table-responsive">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <button type="button" class="btn text-muted p-0" onclick="addNewRow()"><i class="ri-add-line ri-24px"></i></button>
                                        </div>
                                        <table id="ReportEditor" class="table table-sm table-bordered" style="table-layout: fixed;">
                                            <colgroup>
                                                <col span="1"style="visibility: collapse">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width:70px;">Id</th>
                                                    <th class="text-center" style="width:100px;">STT</th>
                                                    <th class="text-center" style="width:300px;">Dịch vụ</th>
                                                    <th class="text-center" style="width:150px;">Số lượng</th>
                                                    <th class="text-center" style="width:150px;">Tổng số tiền</th>
                                                    <th class="text-center" style="width:250px;">Ghi chú</th>
                                                    <th class="text-center" style="width:260px;">Thời gian phát sinh từ (nếu có)</th>
                                                    <th class="text-center" style="width:260px;">Thời gian phát sinh đến (nếu có)</th>
                                                    <th class="text-center" style="width:100px;">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (listbookserbybookingid_store != null)
                                                {
                                                    @foreach (var ser in listbookserbybookingid_store)
                                                    { 

                                                        <tr class="">
                                                            <td class="text-center"><input class="form-control" type="text" name="grid[@reportRowIndex].Id" value="@ser.Id" readonly /></td>
                                                            <td class="text-center"><input class="form-control" type="text" name="grid[@reportRowIndex].stt" value="@ser.stt" readonly /></td>
                                                            <td class="text-center">
                                                                <select name="grid[@reportRowIndex].ServiceID" class="form-select" data-placeholder="Dịch vụ" asp-items="ViewBag.ServiceId">
                                                                    <option value="">Chọn dịch vụ</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="number" class="form-control" placeholder="" name="grid[@reportRowIndex].Quantity" aria-label="Số lượng" value="@ser.Quantity">
                                                            </td>
                                                            <td class="text-truncate">
                                                                <input readonly type="number" class="form-control" placeholder="" name="grid[@reportRowIndex].TotalPrice" aria-label="Tổng số tiền" value="@ser.TotalPrice">
                                                            </td>
                                                            <td class="text-truncate text-center"><textarea row="2" class="form-control" placeholder="" name="grid[@reportRowIndex].Description" aria-label="Ghi chú" value="@ser.Description"></textarea></td>
                                                            <td class="text-truncate"><input type="datetime-local" class="form-control" placeholder="" name="grid[@reportRowIndex].AdditionFromDate" aria-label="Thời gian phát sinh từ" value="@ser.AdditionFromDate"></td>
                                                            <td class="text-truncate"><input type="datetime-local" class="form-control" placeholder="" name="grid[@reportRowIndex].AdditionToDate" aria-label="Thời gian phát sinh đến" value="@ser.AdditionToDate"></td>
                                                            <td class="text-center">
                                                                <input type="hidden" name="grid[@reportRowIndex].isDeleted" value="false" class="isDeleted">
                                                                <button type="button" class="btn-delete btn btn-sm text-danger" onclick="toggleDelete(this)">
                                                                    <i class="ri-delete-bin-line ri-24px"></i>
                                                                </button>
                                                            </td> 
                                                        </tr>

                                                        @(reportRowIndex++);
                                                    }
                                                }  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- end thong tin chi tiet -->
                            <!-- Thong tin khac -->
                            <div class="row gx-5 mb-5">
                                <div class="col-md-4 card-header">
                                    <div class="mb-4">
                                        <label for="BookingFile" class="form-label">File đính kèm</label>
                                        <input class="form-control" type="file" id="BookingFile" name="BookingFile" multiple />
                                        <ul id="fileList"></ul>

                                    </div>
                                </div>
                                <!-- Image slide -->
                                <div class="col-md-8">
                                    <div id="carouselSlideImage"
                                    class="carousel slide carousel-fade w-50"
                                    data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                          @if (ViewBag.fileUrls != null)
                                          {
                                              bool isPreviousImg = true;
                                              for (int i = 0; i < ViewBag.fileUrls.Count; i++)
                                              {
                                                    var fileUrl = ViewBag.fileUrls[i];
                                                    int index = i;
                                                    // kiem tra khong phai la img thi bo qua
                                                    @if (!(fileUrl.EndsWith(".jpg") || fileUrl.EndsWith(".png") || fileUrl.EndsWith(".jpeg") || fileUrl.EndsWith(".gif")))
                                                    {
                                                        isPreviousImg = false;
                                                    }
                                                    else
                                                    {
                                                        // kiem tra file truoc do co phai la img khong? neu khong phai thi img sau phai tru 1
                                                        index = isPreviousImg == true ? index : index - 1;
                                                        <button type="button"
                                                                data-bs-target="#carouselSlideImage"
                                                                data-bs-slide-to="@index"
                                                                class="@(index == 0 ? "active" : "")"
                                                                aria-current="@(index == 0 ? "true" : "false")"
                                                                aria-label="Slide @(index + 1)">
                                                        </button>
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="carousel-inner">
                                            @if (ViewBag.fileUrls != null)
                                            {
                                                bool isPreviousImg = true;
                                                for (int i = 0; i < ViewBag.fileUrls.Count; i++)
                                                {
                                                    var fileUrl = ViewBag.fileUrls[i];
                                                    string fileName = fileUrl.Substring(fileUrl.LastIndexOf('/') + 1);
                                                    int index = i;
                                                    // kiem tra khong phai la img thi bo qua
                                                    @if (!(fileUrl.EndsWith(".jpg") || fileUrl.EndsWith(".png") || fileUrl.EndsWith(".jpeg") || fileUrl.EndsWith(".gif")))
                                                    {
                                                        isPreviousImg = false;
                                                    }
                                                    else
                                                    {
                                                        // kiem tra file truoc do co phai la img khong? neu khong phai thi img sau phai tru 1
                                                        index = isPreviousImg == true ? index : index - 1;
                                                        <div class="carousel-item @(index == 0 ? "active" : "")">
                                                            <img class="d-block w-100" src="@fileUrl" alt="@fileName" />
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h3 style="font-family: 'Shrikhand', cursive;font-weight:bold;"><a class="text-white" href="@fileUrl" target="_blank">@(fileUrl.Substring(fileUrl.LastIndexOf('/') + 1))</a></h3>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselSlideImage" role="button" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselSlideImage" role="button" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </a>
                                    </div>
                                </div>
                                @* end slide *@
                            </div>
                            <!-- end Thong tin khac -->
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Booking form -->
    </div>
    <!-- / Content -->
@* 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTime" class="control-label"></label>
                <input asp-for="TotalTime" class="form-control" />
                <span asp-validation-for="TotalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherPhoneNumber" class="control-label"></label>
                <input asp-for="OtherPhoneNumber" class="form-control" />
                <span asp-validation-for="OtherPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercent" class="control-label"></label>
                <input asp-for="DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDiscountAmount" class="control-label"></label>
                <input asp-for="OtherDiscountAmount" class="form-control" />
                <span asp-validation-for="OtherDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonDiscount" class="control-label"></label>
                <input asp-for="ReasonDiscount" class="form-control" />
                <span asp-validation-for="ReasonDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonCancel" class="control-label"></label>
                <input asp-for="ReasonCancel" class="form-control" />
                <span asp-validation-for="ReasonCancel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteUserId" class="control-label"></label>
                <input asp-for="DeleteUserId" class="form-control" />
                <span asp-validation-for="DeleteUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

<div>
    <a type="button" class="btn btn-primary" asp-action="Index"><i class="ri-arrow-left-circle-line"></i> Trở về</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@
