@{
    ViewData["Title"] = "Dashboard số liệu KOA";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
    // du lleu object
    var SimpleCard_ChucMung = ViewBag.SimpleCard_ChucMung as IDictionary<string, object>;
    var SimpleCard_SoLieuTrongThang = ViewBag.SimpleCard_SoLieuTrongThang as IDictionary<string, object>;
    var LineChart_DoanhThuCacThang = ViewBag.LineChart_DoanhThuCacThang as IDictionary<string, object>;
    var ColumnChart_ChiPhiCacThang = ViewBag.ColumnChart_ChiPhiCacThang as IDictionary<string, object>;
    var ColumnChart_DoanhThuTuan = ViewBag.ColumnChart_DoanhThuTuan as IDictionary<string, object>;
    var PieChart_TyLeCacPhongTrongThang = ViewBag.PieChart_TyLeCacPhongTrongThang as IDictionary<string, object>;
    // du lieu list
    var ListItem_TopDichVuThang = ViewBag.ListItem_TopDichVuThang as List<dynamic>;
    var ListItem_TyLeKinPhongTuan = ViewBag.ListItem_TyLeKinPhongTuan as List<dynamic>;
    var ListItem_TopKhachHangGanDay = ViewBag.ListItem_TopKhachHangGanDay as List<dynamic>;

}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}

@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
    <script src="~/js/dashboards-crm.js"></script>
    <script src="~/js/apexcharts.js"></script>
}

@* ************** Content ************** *@
<div class="row gy-6">
    <!--/ ------------------------------------------------------------------------------------ -->
    <!-- Thu chuc mung -->
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="card-title mb-0 flex-wrap text-nowrap">Chúc mừng KOA! 🎉</h5>
                </div>
                <p class="mb-2">Chiến thần doanh thu của tháng</p>
            </div>
            <div class="card-body text-nowrap">
                <h4 class="text-primary mb-0">@(SimpleCard_ChucMung.ContainsKey("tongdoanhthuthang") ? SimpleCard_ChucMung["tongdoanhthuthang"] : "") VND</h4>
                <p class="mb-2">@(SimpleCard_ChucMung.ContainsKey("phantrammuctieu") ? SimpleCard_ChucMung["phantrammuctieu"] : "")% mục tiêu 🚀</p>
                <a href="javascript:;" class="btn btn-sm btn-primary">Xem chi tiết</a>
            </div>
            <img src="~/img/illustrations/trophy.png"
                 class="position-absolute bottom-0 end-0 me-5 mb-5"
                 width="83"
                 alt="view sales" />
        </div>
    </div>
    <!--/ Thu chuc mung -->
    <!-- Số liệu trong tháng -->
    <div class="col-lg-8">
        <div class="card h-100">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Số liệu trong tháng</h5>
                    <div class="dropdown">
                        <button class="btn text-muted p-0"
                                type="button"
                                id="transactionID"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="ri-more-2-line ri-24px"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                        </div>
                    </div>
                </div>
                <p class="small mb-0"><span class="h6 mb-0">Doanh thu tăng 10% </span> 😎 tháng này</p>
            </div>
            <div class="card-body pt-lg-10">
                <div class="row g-6">
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-primary rounded shadow-xs">
                                    <i class="ri-pie-chart-2-line ri-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <p class="mb-0">Doanh thu</p>
                                <h5 class="mb-0">@(SimpleCard_SoLieuTrongThang.ContainsKey("doanhthu") ? SimpleCard_SoLieuTrongThang["doanhthu"] : "")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-success rounded shadow-xs">
                                    <i class="ri-group-line ri-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <p class="mb-0">Lượt book</p>
                                <h5 class="mb-0">@(SimpleCard_SoLieuTrongThang.ContainsKey("luotbook") ? SimpleCard_SoLieuTrongThang["luotbook"] : "")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-warning rounded shadow-xs">
                                    <i class="ri-macbook-line ri-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <p class="mb-0">Số giờ</p>
                                <h5 class="mb-0">@(SimpleCard_SoLieuTrongThang.ContainsKey("sogio") ? SimpleCard_SoLieuTrongThang["sogio"] : "")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-info rounded shadow-xs">
                                    <i class="ri-money-dollar-circle-line ri-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <p class="mb-0">Chi phí</p>
                                <h5 class="mb-0">@(SimpleCard_SoLieuTrongThang.ContainsKey("chiphi") ? SimpleCard_SoLieuTrongThang["chiphi"] : "")</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Số liệu trong tháng -->
    <!-- Two Cards -->
    <div class="col-xl-6 col-md-6">
        <div class="row gy-6">
            <!-- Tỷ lệ các phòng trong tháng Round Chart -->
            <div class="col-sm-12">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0">Tỷ lệ các phòng trong tháng</h5>
                            <div class="dropdown">
                                <button class="btn text-muted p-0" type="button" id="salesOverviewDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" fdprocessedid="sghge">
                                    <i class="ri-more-2-line ri-24px"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="salesOverviewDropdown">
                                    <a class="dropdown-item waves-effect" href="javascript:void(0);">Last 28 Days</a>
                                    <a class="dropdown-item waves-effect" href="javascript:void(0);">Last Month</a>
                                    <a class="dropdown-item waves-effect" href="javascript:void(0);">Last Year</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-lg-5">
                        <div id="tyLeCacPhongThangRoundChart" data-values="@(PieChart_TyLeCacPhongTrongThang.ContainsKey("doanhthu_arrayvalue") ? PieChart_TyLeCacPhongTrongThang["doanhthu_arrayvalue"] : "")" data-series="@(PieChart_TyLeCacPhongTrongThang.ContainsKey("seriesfield_arrayvalue") ? PieChart_TyLeCacPhongTrongThang["seriesfield_arrayvalue"] : "")" data-total="@(PieChart_TyLeCacPhongTrongThang.ContainsKey("doanhthu_total") ? PieChart_TyLeCacPhongTrongThang["doanhthu_total"] : "")" style="min-height: 197.8px;">
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Tỷ lệ các phòng trong tháng -->
            <!-- Ti le kin phong -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Tỷ lệ kín phòng trong tuần</h5>
                        <div class="dropdown">
                            <button class="btn text-muted p-0"
                                    type="button"
                                    id="totalEarnings"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="ri-more-2-line ri-24px"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarnings">
                                <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-lg-8">
                        <ul class="p-0 m-0">
                            @if (ListItem_TyLeKinPhongTuan != null)
                            {
                                @foreach (var row in ListItem_TyLeKinPhongTuan)
                                {
                                    <li class="d-flex mb-6">
                                        <div class="avatar flex-shrink-0 bg-lightest rounded me-3">
                                            <img src="@row.roomimage" alt="zipcar" />
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                            <div class="me-2">
                                                <h6 class="mb-0">@row.roomname <small class="text-success mb-0">(@row.sogio giờ)</small></h6>
                                                <p class="mb-0">Tỷ lệ kín phòng @(row.tylelapday)%</p>
                                            </div>
                                            <div>
                                                <h6 class="mb-2">@row.doanhthu VND</h6>
                                                <div class="progress bg-label-primary" style="height: 4px">
                                                    <div class="progress-bar bg-primary"
                                                         style="width: @(row.tylelapday)%"
                                                         role="progressbar"
                                                         aria-valuenow="@row.tylelapday"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ Ti le kin phong -->
        </div>
    </div>
    <!--/ Two Cards -->
    <!-- Four Cards -->
    <div class="col-xl-6 col-md-6">
        <div class="row gy-6">
            <!-- Doanh thu thang line chart -->
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h5 class="mb-0">@(LineChart_DoanhThuCacThang.ContainsKey("doanhthu_currentmonth") ? LineChart_DoanhThuCacThang["doanhthu_currentmonth"] : "") VNĐ</h5>
                    </div>
                    <div class="card-body">
                        <div id="dtThangLineChart" class="mb-3" data-values="@(LineChart_DoanhThuCacThang.ContainsKey("doanhthu_arrayvalue") ? LineChart_DoanhThuCacThang["doanhthu_arrayvalue"] : "")"></div>
                        <h6 class="text-center mb-0">Doanh thu tháng gần đây</h6>
                    </div>
                </div>
            </div>
            <!--/ Doanh thu thang line chart -->
            <!-- Chi phi thang column chart -->
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h5 class="mb-0">@(ColumnChart_ChiPhiCacThang.ContainsKey("chiphi_currentmonth") ? ColumnChart_ChiPhiCacThang["chiphi_currentmonth"] : "") VNĐ</h5>
                    </div>
                    <div class="card-body">
                        <div id="cpThangColumnChart" class="mb-3" data-values="@(ColumnChart_ChiPhiCacThang.ContainsKey("chiphi_arrayvalue") ? ColumnChart_ChiPhiCacThang["chiphi_arrayvalue"] : "")"></div>
                        <h6 class="text-center mb-0">Chi phí tháng gần đây</h6>
                    </div>
                </div>
            </div>
            <!--/ Chi phí tháng column chart -->
            <!-- Dich vu thang -->
            <div class="col-xl-12">
                <div class="card mb-0">
                    <div class="card-body card-separator">
                        <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
                            <h5 class="m-0 me-2">Top 5 dịch vụ tháng</h5>
                            <a class="fw-medium" href="javascript:void(0);">Xem tất cả</a>
                        </div>
                        <div class="deposit-content pt-2">
                            <ul class="p-0 m-0">
                                @if (ListItem_TopDichVuThang != null)
                                {
                                    @foreach (var row in ListItem_TopDichVuThang.Take(5))
                                    {
                                        <li class="d-flex mb-4 align-items-center pb-2">
                                            <div class="flex-shrink-0 me-4">
                                                <img src="@row.serviceimage"
                                                     class="img-fluid"
                                                     alt="gumroad"
                                                     height="30"
                                                     width="30" />
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">@row.servicename</h6>
                                                    <p class="mb-0">@row.soluotbook lượt</p>
                                                </div>
                                                <h6 class="text-success mb-0">@row.doanhthu</h6>
                                            </div>
                                        </li>
                                    }
                                }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dich vu thang -->
        </div>
    </div>
    <!--/ five card -->
    <!-- Doanh thu tuan chart -->
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div><h5 class="mb-1">Doanh thu tuần </h5><span class="badge bg-success mb-0">@(ColumnChart_DoanhThuTuan.ContainsKey("ngaytrongtuan") ? ColumnChart_DoanhThuTuan["ngaytrongtuan"] : "")</span></div>
                    <div class="dropdown">
                        <button class="btn text-muted p-0"
                                type="button"
                                id="weeklyOverviewDropdown"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="ri-more-2-line ri-24px"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="weeklyOverviewDropdown">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-lg-2">
                <div id="chartDoanhThuTuan" data-values="@(ColumnChart_DoanhThuTuan.ContainsKey("doanhthu_arrayvalue") ? ColumnChart_DoanhThuTuan["doanhthu_arrayvalue"] : "")" data-series="@(ColumnChart_DoanhThuTuan.ContainsKey("seriesfield_arrayvalue") ? ColumnChart_DoanhThuTuan["seriesfield_arrayvalue"] : "")"></div>
                <div class="mt-1 mt-md-3">
                    <div class="d-flex align-items-center gap-4">
                        <h4 class="mb-0">10%</h4>
                        <p class="mb-0">Doanh thu tăng 10% 😎 so với tuần trước. Cố gắng lên nhé!!</p>
                    </div>
                    <div class="d-grid mt-3 mt-md-4">
                        <button class="btn btn-primary" type="button">Chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Doanh thu tuan chart-->
    <!-- Top luot book gan day -->
    <div class="col-xl-8">
        <div class="card mb-0">
            <div class="card-body card-separator">
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
                    <h5 class="m-0 me-2">Top 5 khách hàng gần nhất</h5>
                    <a class="fw-medium" href="javascript:void(0);">View all</a>
                </div>
                <div class="deposit-content pt-2">
                    <ul class="p-0 m-0">
                        @if (ListItem_TopKhachHangGanDay != null)
                        {
                            @foreach (var row in ListItem_TopKhachHangGanDay.Take(5))
                            {
                                <li class="d-flex mb-4 align-items-center pb-2">
                                    <div class="flex-shrink-0 me-4">
                                        <img src="@row.randomimage"
                                             class="img-fluid"
                                             alt="gumroad"
                                             height="30"
                                             width="30" />
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">@row.hoten <small class="text-success mb-0">@row.totalamount</small></h6>
                                            <p class="mb-2">@row.listservicename</p>
                                            <span class="badge bg-label-danger rounded-pill mb-0">@row.checkindate</span> - <span class="badge bg-label-danger rounded-pill mb-0">@row.checkoutdate</span>
                                        </div>
                                        <span class="badge @(row.roombadgeclass) rounded-pill mb-0">@row.roomname</span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/ Top luot book gan day-->
    <!--/ heat map dashboard -->
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Trạng thái đặt phòng trong 3 tháng</h5>
                <div class="dropdown">
                    <button class="btn p-0" type="button" id="heatChartDd" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-base ri ri-more-2-fill"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="heatChartDd">
                        <a class="dropdown-item waves-effect" href="javascript:void(0);">Last 28 Days</a>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);">Last Month</a>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);">Last Year</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="trangThaiDatPhongThangHeatMap"></div>
            </div>
        </div>
    </div>
    <!--/ end heat map dashboard -->

    <script id="heatmap-data" type="application/json">
        @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.HeatMap_TrangThaiDatPhongThang))
    </script>

</div>
