@{
    ViewData["Title"] = "BOOKING";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
    // var listcus = ViewBag.listcus as List<KOAHome.EntityFramework.HsCustomer>;
    var gridData_Store = ViewBag.gridData_Store as List<dynamic>;

    // tao bien dem de dem row num cho report
    var reportRowIndex = 1;
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}

@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
    @* thong bao day *@
    <script src="~/js/ui-toasts.js"></script>
    @* validate, kem cac file js ho tro *@
    <script src="~/js/helper.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/form-validation.js"></script>

    <script>
        // them dong editor moi
        function addNewRow() {
        let table = document.getElementById("ReportEditor").getElementsByTagName('tbody')[0];
        let newRow = table.insertRow(0);
        let index = table.rows.length;
        // set data change = false de danh dau nhap lieu
        newRow.setAttribute("data-changed", "false");

        newRow.innerHTML = `
        <td class="text-center"><input class="form-control" type="text" name="grid[${index}].Id" readonly /></td>
        <td class="text-center"><input class="form-control" type="text" name="grid[${index}].stt" readonly /></td>
        <td class="text-truncate"><input type="date" class="form-control track-change" placeholder="" name="grid[${index}].ExpenseDatetime" aria-label="Ngày nhập"</td>
        <td class="text-center"><input class="form-control track-change" type="text" name="grid[${index}].Content" /></td>
        <td class="text-end"><input type="number" class="form-control track-change" placeholder="" name="grid[${index}].Quantity" aria-label="Số lượng"></td>
        <td class="text-end"><input type="number" class="form-control track-change" placeholder="" name="grid[${index}].TotalAmount" aria-label="Số tiền"></td>
        <td class="text-center">
            <input type="hidden" name="grid[${index}].isDeleted" value="false" class="isDeleted track-change">
            <button type="button" class="btn-delete btn btn-sm text-danger" onclick="toggleDelete(this)">
                <i class="ri-delete-bin-line ri-24px"></i>
            </button>
        </td>
        `;

        // Áp dụng Select2 cho select mới thêm
        $(newRow).find("select").select2({
            placeholder: "Chọn",
            allowClear: true,
            width: "100%"
        });
        }
    </script>
}
@section success
{
    @if (ViewBag.success != null)
    {

        <!-- Toast with Placements -->
        <div class="bs-toast toast  top-0 end-0 show toast-placement-ex1 m-2" style="position:absolute;" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
                <i class="ri-home-4-fill me-2 text-success"></i>
                <div class="me-auto fw-medium">Thông báo</div><small class="text-muted">1 giây trước</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-success">@ViewBag.success.</div>
        </div>
        <!-- Toast with Placements -->
    }
}

@section ErrorMessage
{
    @if (ViewBag.ErrorMessage != null)
    {
        <!-- Toast with Placements -->
        <div class="bs-toast toast  top-0 end-0 show toast-placement-ex1 m-2" style="position:absolute;" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-header">
                <i class="ri-home-4-fill me-2 text-danger"></i>
                <div class="me-auto fw-medium">Thông báo</div><small class="text-muted">1 giây trước</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-danger">@ViewBag.ErrorMessage.</div>
        </div>
        <!-- Toast with Placements -->
    }
}


@* ************** Content ************** *@
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h1 class="mb-1">Chi phí vận hành! 🎉</h1>
        <div class="row gy-6">
            @* Data Table new *@
            <!-- Data Tables -->
            <div class="col-xl-12">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <!-- Accordion -->
                                <!-- phan mo rong de an hien bo loc-->
                                <div class="row">
                                    <div class="col-md mb-6 mb-md-2">
                                        <div class="accordion mt-4" id="accordionExample">
                                            <div class="accordion-item active">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                                        Tìm kiếm
                                                    </button>
                                                </h2>
                                                <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        @* filter *@
                                                        <form method="get" asp-action="Index" enctype="multipart/form-data">
                                                            <div class="row gx-3 gy-2 align-items-center">
                                                                <div class="col-md-6 form-floating form-floating-outline mb-6">
                                                                    <input class="form-control form-control-sm" type="date" placeholder="" id="ExpenseDatetimeFrom" name="ExpenseDatetimeFrom" value="@Context.Request.Query["ExpenseDatetimeFrom"]" />
                                                                    <label for="ExpenseDatetimeFrom">Ngày nhập chi phí từ</label>
                                                                </div>
                                                                <div class="col-md-6 form-floating form-floating-outline mb-6">
                                                                    <input class="form-control form-control-sm" type="date" placeholder="" id="ExpenseDatetimeTo" name="ExpenseDatetimeTo" value="@Context.Request.Query["ExpenseDatetimeTo"]" />
                                                                    <label for="ExpenseDatetimeTo">Ngày nhập chi phí đến</label>
                                                                </div>
                                                            </div>
                                                            @* end filter *@
                                                            @* nut xem *@
                                                            <div class="row gx-3 gy-2 align-items-center">
                                                                <div class="col-md-12 d-flex justify-content-center">
                                                                    <label class="form-label" for="showToastPlacement">&nbsp;</label>
                                                                    <button type="submit" id="showToastPlacement" class="btn btn-primary d-block">Xem</button>
                                                                </div>
                                                            </div>
                                                            @* end nut xem *@
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Accordion -->
                                @* action top *@
                                <div class="row gx-3 gy-2 align-items-center">
                                    <div class="col-md-12 d-flex">
                                        <div class="demo-inline-spacing">
                                            <a asp-action="Create" type="button" class="btn btn-icon btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                                               title="<i class='ri-add-line'></i> <span>Thêm mới</span>">
                                                <i class="ri-add-line"></i>
                                            </a>
                                            <a asp-action="Create" type="button" class="btn btn-icon btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                                               title="<i class='ri-eye-line'></i> <span>Mô tả</span>">
                                                <i class="ri-eye-line"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                @* end action top *@
                            </div>
                            @* end filter *@
                            <div class="card-body">
                                <small class="text-muted">Có <strong>@ViewBag.Total</strong> kết quả tìm kiếm</small>
                            </div>
                            @* table *@
                            <div class="card overflow-auto mb-6" style="height: 600px">
                                <div class="card-body" id="vertical-example">
                                  @* form xu ly luu editor *@
                                  <form id="create-form" class="needs-validation" novalidate="" method="post" asp-controller="ChiPhi"  asp-action="Edit" enctype="multipart/form-data">
                                        <div class="table-responsive">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <div>
                                              <button type="button" class="btn text-muted p-0" onclick="addNewRow()"><i class="ri-add-line ri-24px"></i></button>
                                              <button type="submit" class="btn text-muted p-0"><i class="ri-save-line ri-24px"></i></button>
                                            </div>
                                        </div>
                                        <table id="ReportEditor" class="table table-sm table-bordered" style="table-layout: fixed;">
                                            <colgroup>
                                                <col span="1" style="visibility: collapse">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width:70px;">Id</th>
                                                    <th class="text-center" style="width:100px;">STT</th>
                                                    <th class="text-center" style="width:180px;">Ngày nhập</th>
                                                    <th class="text-center" style="width:300px;">Nội dung chi phí</th>
                                                    <th class="text-center" style="width:150px;">Số lượng</th>
                                                    <th class="text-center" style="width:150px;">Số tiền</th>
                                                    <th class="text-center" style="width:100px;">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (gridData_Store != null)
                                                {
                                                    @foreach (var data in gridData_Store)
                                                    {

                                                        <tr class="" data-changed="false">
                                                            <td class="text-center"><input class="form-control" type="text" name="grid[@reportRowIndex].Id" value="@data.Id" readonly /></td>
                                                            <td class="text-center"><input class="form-control" type="text" name="grid[@reportRowIndex].stt" value="@data.stt" readonly /></td>
                                                            <td class="text-truncate"><input type="date" class="form-control track-change" placeholder="" name="grid[@reportRowIndex].ExpenseDatetime" aria-label="Ngày nhập" value="@data.ExpenseDatetime"></td>
                                                            <td class="text-center"><input class="form-control track-change" type="text" name="grid[@reportRowIndex].Content" value="@data.Content" /></td>
                                                            <td class="text-end"><input type="number" class="form-control track-change" placeholder="" name="grid[@reportRowIndex].Quantity" aria-label="Số lượng" value="@data.Quantity"></td>
                                                            <td class="text-end"><input type="number" class="form-control track-change" placeholder="" name="grid[@reportRowIndex].TotalAmount" aria-label="Số tiền" value="@data.TotalAmount"></td>
                                                            <td class="text-center">
                                                                <input type="hidden" name="grid[@reportRowIndex].isDeleted" value="false" class="isDeleted track-change">
                                                                <button type="button" class="btn-delete btn btn-sm text-danger" onclick="toggleDelete(this)">
                                                                    <i class="ri-delete-bin-line ri-24px"></i>
                                                                </button>
                                                            </td>
                                                        </tr>

                                                        reportRowIndex++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Pagination Start -->
                    @if (gridData_Store.Count() > 0)
                    {
                        <div class="col-12">
                            <!-- Phân trang -->
                            @if (ViewBag.TotalPage > 1)
                            {
                                var pageDisplay = (int)ViewBag.MaxPage;
                                int totalPage = (int)ViewBag.TotalPage;
                                int page = (int)ViewBag.Page;

                                // Create numeric links
                                var startPageIndex = Math.Max(1, page - pageDisplay / 2);
                                var endPageIndex = Math.Min(totalPage, page + pageDisplay / 2);

                                //var link = "/san-pham/" + category.MetaTitle + "-" + category.ID;
                                var link = "/ChiPhi/Index?ExpenseDatetimeFrom=" + Context.Request.Query["ExpenseDatetimeFrom"] + "&ExpenseDatetimeTo=" + Context.Request.Query["ExpenseDatetimeTo"];
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        @if (page > ViewBag.First)
                                        {
                                            <li class="page-item"><a href="@link&page=@ViewBag.First" title="Trang đầu" class="page-link first"><i class="ri-arrow-left-double-line"></i></a></li>
                                            <li class="page-item">
                                                <a href="@link&page=@ViewBag.Prev" title="Trang trước" class="page-link prev"><i class="ri-arrow-left-s-line"></i></a>
                                            </li>

                                        }
                                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                                        {
                                            if (page == i)
                                            {
                                                <li class="page-item active"> <a href="@link&page=@i" class="page-link" title="Trang @i">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a href="@link&page=@i" title="Trang @i" class="page-link pos">@i</a></li>
                                            }
                                        }
                                        @if (page < totalPage)
                                        {
                                            <li class="page-item"><a href="@link&page=@ViewBag.Next" class="page-link next" title="Trang sau"><i class="ri-arrow-right-s-line"></i></a></li>
                                            <li class="page-item"> <a href="@link&page=@ViewBag.Last" class="page-link last" title="Trang cuối"><i class="ri-arrow-right-double-line"></i></a></li>
                                        }

                                    </ul>
                                </nav>

                            }
                        </div>
                    }
                    <!--/ Pagination End -->
                </div>
            </div>
            @* end data table new *@
        </div>
    </div>
    <!-- Content wrapper -->
</div>
